presentacion.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="presentacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="titulo" type="xs:string" />
				<xs:element name="diapositiva" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="titulo" type="xs:string"/>
							<xs:element name="contenido" type="xs:string" minOccurs="2" maxOccurs="8" />
						</xs:sequence>
						<xs:attribute name="nivel" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>